.form {
    display: flex;
    flex-direction: column;

    h3 {
        margin-bottom: 2rem;
    }
    input {
        margin-bottom: 1rem;
    }

    button {
        margin-top: 1rem;
    }
}
